* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.header-container {
  font-size: large;
  background-color: rgb(58, 56, 56);
}
.menu-items {
  margin: 0 auto;
  list-style-type: none;
  padding: 20px;

  /* border: 1px solid #fff;*/

  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.links {
  /* border: 1px solid #fff;*/
  display: flex;
  gap: 30px;
}
.hero {
  margin: 0 auto;
  background-color: #5d6063;
  height: 200px;

  align-items: center;
}
.header {
  color: rgb(233, 12, 12);
  align-items: flex-start;
}
.button {
  color: #fff;
  background-color: #5995da;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #5d6063;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.box-image {
  margin: 0 auto;
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 400px;
  padding: 10px;
  display: flex;
  align-content: right;
  text-align: left;
  box-sizing: border-box;
}
.article {
  margin: 0 auto;
  color: black;
  background-color: azure;
  border: 1px solid red;
  width: 900px;
  height: 300px;
  text-align: center;
}
.synopsis {
  margin: 0 auto;
  color: black;
  background-color: lightgray;
  padding: 10px;
  height: 200px;
}
.content {
  font-style: italic;
  font-size: larger;
  text-align: center;
}
.author {
  text-align: right;
  border: 1px solid red;
}
