.shopping-list {
  display: grid;
  align-items: center;
  gap: 2em;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
}
.shop-items {
  background-color: antiquewhite;
  padding: 1em;
  border-radius: 15px;
  transition: background-color 0.3 ease;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}
img {
  width: 250px;
  height: 150px;
}
